# Django
SECRET_KEY=
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=gtd_db
POSTGRES_USER=
POSTGRES_PASSWORD=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0

# Python
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
